server:
  ssl:
    enabled: true
    key-store: ${KEYSTORE_PATH}
    key-store-password: ${KEYSTORE_PASSWORD}
    key-store-type: PKCS12
  port: 30010
  
spring:
  h2:
    console:
      enabled: true

  datasource:
    url: jdbc:h2:mem:FFT # h2 database ip address
    driver-class-name: org.h2.Driver # database driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    open-in-view: false
    
thymeleaf:
    cache: false
    prefix: classpath:/templates/     
    suffix: .html
    encoding: UTF-8
    mode: HTML5    
 
    
